In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('CompleteDataset.csv')
data.head(10)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,Timestamp
0,Aachen,1,1,301,21.0,0,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)",-2.840165e+09
1,Aarhus,2,1,176,720.0,0,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)",-5.996430e+08
2,Abee,6,1,77,107000.0,0,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)",-5.681070e+08
3,Acapulco,10,1,0,1914.0,0,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)",1.892754e+08
4,Achiras,370,1,307,780.0,0,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)",-2.145942e+09
5,Adhi Kot,379,1,77,4239.0,0,01/01/1919 12:00:00 AM,32.10000,71.80000,"(32.1, 71.8)",-1.609484e+09
6,Adzhi-Bogdo (stone),390,1,319,910.0,0,01/01/1949 12:00:00 AM,44.83333,95.16667,"(44.83333, 95.16667)",-6.627150e+08
7,Agen,392,1,169,30000.0,0,01/01/1814 12:00:00 AM,44.21667,0.61667,"(44.21667, 0.61667)",-4.922924e+09
8,Aguada,398,1,307,1620.0,0,01/01/1930 12:00:00 AM,-31.60000,-65.23333,"(-31.6, -65.23333)",-1.262329e+09
9,Aguila Blanca,417,1,222,1440.0,0,01/01/1920 12:00:00 AM,-30.86667,-64.55000,"(-30.86667, -64.55)",-1.577948e+09

In [3]:
data = data.drop(['name','id','year','GeoLocation'],axis='columns')

In [4]:
abs(data.corr()["Timestamp"])[abs(data.corr()["Timestamp"])>0.5]

fall         0.505945
Timestamp    1.000000
Name: Timestamp, dtype: float64

In [5]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [6]:
predictors = data[data.columns[data.columns != 'Timestamp']]
predictors

target = data['Timestamp']
target

predictors = (predictors - predictors.mean()) / predictors.std()
target = (target - target.mean()) / target.std()

In [7]:

def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(predictors.shape[1],)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [8]:

model = regression_model()

model.fit(predictors, target , validation_split=0.3 , epochs=50, verbose=2)

Train on 26680 samples, validate on 11435 samples
Epoch 1/50
 - 1s - loss: 0.7120 - val_loss: 0.4176
Epoch 2/50
 - 1s - loss: 0.6392 - val_loss: 0.3634
Epoch 3/50
 - 1s - loss: 0.6112 - val_loss: 0.3963
Epoch 4/50
 - 1s - loss: 0.5842 - val_loss: 0.3679
Epoch 5/50
 - 1s - loss: 0.5764 - val_loss: 0.3631
Epoch 6/50
 - 1s - loss: 0.5845 - val_loss: 0.3263
Epoch 7/50
 - 1s - loss: 0.5503 - val_loss: 0.3404
Epoch 8/50
 - 1s - loss: 0.5475 - val_loss: 0.3371
Epoch 9/50
 - 1s - loss: 0.5459 - val_loss: 0.2998
Epoch 10/50
 - 1s - loss: 0.5413 - val_loss: 0.3312
Epoch 11/50
 - 1s - loss: 0.5323 - val_loss: 0.2834
Epoch 12/50
 - 1s - loss: 0.5255 - val_loss: 0.3081
Epoch 13/50
 - 1s - loss: 0.5242 - val_loss: 0.2892
Epoch 14/50
 - 1s - loss: 0.5201 - val_loss: 0.2890
Epoch 15/50
 - 1s - loss: 0.5134 - val_loss: 0.3004
Epoch 16/50
 - 1s - loss: 0.5120 - val_loss: 0.3008
Epoch 17/50
 - 1s - loss: 0.5098 - val_loss: 0.3247
Epoch 18/50
 - 1s - loss: 0.5062 - val_loss: 0.3041
Epoch 19/50
 - 1s - loss: 0.5019 - val_loss: 0.3204
Epoch 20/50
 - 1s - loss: 0.5079 - val_loss: 0.3431
Epoch 21/50
 - 1s - loss: 0.4985 - val_loss: 0.3484
Epoch 22/50
 - 1s - loss: 0.4941 - val_loss: 0.2960
Epoch 23/50
 - 1s - loss: 0.4987 - val_loss: 0.3143
Epoch 24/50
 - 1s - loss: 0.4909 - val_loss: 0.3043
Epoch 25/50
 - 1s - loss: 0.4914 - val_loss: 0.3092
Epoch 26/50
 - 1s - loss: 0.4854 - val_loss: 0.3182
Epoch 27/50
 - 1s - loss: 0.4892 - val_loss: 0.2944
Epoch 28/50
 - 1s - loss: 0.4836 - val_loss: 0.3135
Epoch 29/50
 - 1s - loss: 0.4823 - val_loss: 0.3047
Epoch 30/50
 - 1s - loss: 0.4877 - val_loss: 0.3028
Epoch 31/50
 - 1s - loss: 0.4827 - val_loss: 0.2932
Epoch 32/50
 - 1s - loss: 0.4820 - val_loss: 0.3219
Epoch 33/50
 - 1s - loss: 0.4741 - val_loss: 0.2986
Epoch 34/50
 - 1s - loss: 0.4735 - val_loss: 0.2989
Epoch 35/50
 - 1s - loss: 0.4752 - val_loss: 0.2844
Epoch 36/50
 - 1s - loss: 0.4792 - val_loss: 0.3339
Epoch 37/50
 - 1s - loss: 0.4682 - val_loss: 0.2845
Epoch 38/50
 - 1s - loss: 0.4712 - val_loss: 0.3196
Epoch 39/50
 - 1s - loss: 0.4673 - val_loss: 0.3149
Epoch 40/50
 - 1s - loss: 0.4666 - val_loss: 0.3068
Epoch 41/50
 - 1s - loss: 0.4638 - val_loss: 0.3221
Epoch 42/50
 - 1s - loss: 0.4685 - val_loss: 0.3078
Epoch 43/50
 - 1s - loss: 0.4643 - val_loss: 0.3311
Epoch 44/50
 - 1s - loss: 0.4623 - val_loss: 0.3139
Epoch 45/50
 - 1s - loss: 0.4612 - val_loss: 0.3862
Epoch 46/50
 - 1s - loss: 0.4614 - val_loss: 0.3597
Epoch 47/50
 - 1s - loss: 0.4671 - val_loss: 0.3514
Epoch 48/50
 - 1s - loss: 0.4609 - val_loss: 0.3696
Epoch 49/50
 - 1s - loss: 0.4606 - val_loss: 0.3148
Epoch 50/50
 - 1s - loss: 0.4538 - val_loss: 0.3374

In [9]:
# train_set = data.sample(frac=0.8, random_state=0)
# test_set = data.drop(train_set.index)

# xTrain = train_set.drop('Timestamp',axis='columns')
# yTrain = train_set['Timestamp']

# xTest = test_set.drop('Timestamp',axis='columns')
# yTest = test_set['Timestamp']
# print(xTrain)
# print(yTrain)
# print(xTest)
# print(yTest)

In [10]:
# from sklearn.model_selection import cross_val_score
# from sklearn.linear_model import LinearRegression

# Lr = LinearRegression()
# MSEs = cross_val_score(Lr,xTrain,yTrain, scoring='neg_mean_squared_error', cv=5)
# mean_MSE = np.mean(MSEs)
# print(mean_MSE)